* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
}

#home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  text-align: center;
}

#portal {
  height: 60px;
  margin-left: 12px;
}
#portal-nav {
  height: 60px;
  margin: 10px;
}

#sign_up,
#login {
  padding-top: 30px;
  text-align: center;
  height: 100vh;
}
#sign_up_form,
#login_form,
#welcome,
#user_details {
  margin: auto;
  width: 80%;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 191, 255, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

/* bafflingly this won't work as an inline style at the moment */
#user_details {
  align-items: flex-start;
}
.loading_dots {
  width: 80px;
  height: 60px;
  margin: auto;
}
@media only screen and (min-width: 600px) {
  #sign_up_form,
  #login_form,
  #welcome,
  #user_details {
    width: 400px;
  }
}
